:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #adb5bd;
  --bs-gray-dark: #6c757d;
  --bs-gray-100: #1b1c1e;
  --bs-gray-200: #232527;
  --bs-gray-300: #2c2e30;
  --bs-gray-400: #343739;
  --bs-gray-500: #3d4043;
  --bs-gray-600: #4a4e51;
  --bs-gray-700: #6c757d;
  --bs-gray-800: #adb5bd;
  --bs-gray-900: #f8f9fa;
  --bs-primary: #525f66;
  --bs-secondary: #0d6efd;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-body-color: #adb5bd;
  --bs-body-bg: #212529;
  --bs-border-color: #495057;
  --bs-link-color: #0d6efd;
}

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.bg-light {
  background-color: var(--bs-gray-100) !important;
}

.text-muted {
  color: var(--bs-gray-dark) !important;
}